	#accordionGames .card-header:after, .stories .card-header:after {
		    font-family: 'FontAwesome';  
		    content: "\f068";
		    float: right; 
		}
		#accordionGames .card-header.collapsed:after, .stories .card-header.collapsed:after {
    		/* symbol for "collapsed" panels */
    		content: "\f067"; 
		}

		.chapter-title {
			display: block;
			font-size: 2.5rem;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 5rem;
		}
		
		h1, h2, h3, h4  {
			text-transform: uppercase;			
			margin-bottom: 1.3em;
			margin-top: 1.3em;
		}
		
		h1, h2, h3, h5 {
			font-weight: bold;
		}
		h4 {
			font-weight: normal;
		}
		
		h1 {
			font-size: 1.5rem;
		}
		h2 {
			font-size: 1.2rem;
		}		
		h3, h4, h5 {
			font-size: 1rem;
		}

		
		.ido {
			font-weight: normal;
		}
		.cimkieg {
			text-transform: none;
			font-weight: normal;
			font-size: 1rem;
			line-height: 1.6;
		}
		.comment {
			font-style: italic;
			text-indent: -4px;
			text-align: justify;

		}
		.comment:before{
			content: "• ";
		}

		p {
			display: block;
		    margin-block-start: 0.3em;
		    margin-block-end: 1.5em;
		    margin-inline-start: 0px;
		    margin-inline-end: 0px;
			text-align: justify;
		}

		.quote {
			/*font-style: italic*/
		}

		.underconstruction {
			color: grey;
		}

		@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,700;1,400&display=swap');
		body {			
			font-family: 'Archivo', sans-serif;
			padding-top: 70px;			

		}
		

		.tips {
			margin-left: 20%;
		}

		.story {
			margin-left: 5%;
			margin-right: 5%;
		}

		.game > h3 {
			margin-block-end: 0.2em;
		}


		h1:after {
		    content:' ';
		    display:block;
		    /*border:2px solid #d0d0d0;
		    border-radius:4px;
		    -webkit-border-radius:4px;
		    -moz-border-radius:4px;
		    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
		    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
		    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
			*/
		}

		h2:after {
		    content:' ';
		    display:block;
			/*
		    border:1px solid #d0d0d0;
		    border-radius:4px;
		    -webkit-border-radius:4px;
		    -moz-border-radius:4px;
		    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
		    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
		    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
			*/
		}


		ul     	     {
		list-style: none;
	     }

		ul li:before {
		content: " \27f6 \0020";
	    }
		ul li {
			text-indent: -22px;
			text-align: justify;
	    }
		ul {
			    padding-inline-start: 80px;
		}
		#contents li:before, #contributors li:before{
    			content: none;
		}
		.row {
  			  display: flex;
		}
		.nav-item {
			text-indent: unset;
			text-align: unset;
		}
		.nav-item:before {
		content: "";
	    }

		.cimlap {
			 background-image: url("cimlapkep.jpg");
			 background-position: top;
			 background-size: cover;
			 height: 100vh;
		}
		#main-title {
			display: block;
			font-size: 3rem;
			margin-bottom: 1.3rem;	
			color: white;
			text-transform: uppercase;
			font-weight: bold;			
		}
		#sub-title {			
			display: block;
			font-size: 1.3rem;
			color: white;			
		}

		/*
		####################################################
		M E D I A  Q U E R I E S
		####################################################
		*/

		/*
		::::::::::::::::::::::::::::::::::::::::::::::::::::
		Bootstrap 4 breakpoints
		*/

		/* Small devices  */
		@media (max-width: 544px) {  
			.chapter-title {
				font-size: 1.5rem;
				margin-bottom: 2rem;
			}
			#buttonOrganizer, #buttonOpenAll {
				display: none;
			}	    
			#main-title {
				font-size: 1rem;
				margin-bottom: 1.3rem;	
			}
			#sub-title {			
				font-size: 1.3rem;
			}
		}

		/* Medium devices  */
		@media (max-width: 768px) {  
			.chapter-title {
				font-size: 2rem;
				margin-bottom: 3rem;
			}
			#main-title {
				font-size: 3rem;
				margin-bottom: 1.3rem;	
			}
			#sub-title {			
				font-size: 1.3rem;
			}
		}
		
		/* Normal devices */
		/* 3.5, 1.3; 1.3 */

		/* Extra large devices */
		@media (min-width: 992px) {
			.container{
				max-width: 870px !important;
			}
			#main-title {
				font-size: 4.5rem;
				margin-bottom: 1rem;	
			}
			#sub-title {			
				font-size: 1.8rem;
			}
		}
		
